<template>
    <h1>Persistencia con Pinia</h1>
    <h1>{{store.count}}</h1>
    <button @click="store.increment(1)">Añadir</button>
</template>

<script lang="ts" setup>
  import { useExample } from '@/store/useExample';
  const  store=useExample()
</script>

<style scoped>

</style>
