<template>
    <h1>Ejemplo con watchers en Option API</h1>
    <h2>Ejemplo con notas</h2>
    <input type="text" v-model="note"/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    data(){
        return{
            note:''
        }
    },
    watch:{
        note(value,oldValue){
            alert ("Antiguo valor: "+oldValue+", nuevo valor: "+value)
            localStorage.setItem('note',value)
        }
    }
})

</script>

<style scoped>

</style>