<template>
    <h1>Ejemplo de WatchEffect en Composition API</h1>
    <input type="text" v-model="note"/>
</template>

<script lang="ts" setup>
import { Ref,ref } from 'vue';
import { watchEffect } from 'vue';

const note:Ref<string> =ref('')

watchEffect(()=>{
    alert ('Se ha modificado el valor: '+note.value)
    localStorage.setItem('note',note.value.toString())
})
</script>

<style scoped>

</style>