<template>
    <h1>Ejemplo de watchers en Composition API</h1>
    <input type="text" v-model="note"/>
</template>

<script lang="ts" setup>
import { watch,ref,Ref } from 'vue'
const note:Ref <string> = ref('')

watch(note,()=>{
        alert('Valor modificado: '+note.value)
        localStorage.setItem('note',note.value.toString())
})

</script>

<style scoped>

</style>
