<template>
  <nav>
    <li><router-link :to="{name:'pinia-pe'}">Persistencia con Pinia"</router-link></li>
    <li><router-link :to="{name:'watchers-oa'}">Persistencia con Watchers con "Option API"</router-link></li>
    <li><router-link :to="{name:'watcheffect-ca'}"> Ejemplo de WatchEffect con "Composition API"</router-link></li>
    <li><router-link :to="{name:'watchers-ca'}"> Ejemplo de Watchers con "Composition API"</router-link></li>
  </nav>
  <RouterView></RouterView>
</template>

<script lang="ts" setup>

</script>

<style scoped>

</style>